@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Noto+Sans+JP:wght@400;500;700;900&family=Noto+Serif+JP:wght@400;600;700;900&family=Oleo+Script&family=Philosopher&family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Noto+Sans+JP:wght@400;500;700;900&family=Noto+Serif+JP:wght@400;700&family=Oleo+Script&family=Philosopher&family=Poppins:wght@800&display=swap");
html {
  font-family: "Noto Sans JP-Medium", sans-serif;
  font-size: 100%;
}

body {
  background-size: cover;
}

img {
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  font-family: "Noto Sans Jp";
  text-decoration: none;
  color: #000000;
  margin-right: 3px;
}

.animate__animated {
  opacity: 0;
}

.header {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  background-size: cover;
  position: absolute;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    padding-top: 1.3333333333vw;
    padding-bottom: 2.1333333333vw;
    padding-left: 4vw;
    padding-right: 4vw;
    position: absolute;
    top: 0;
  }
}
.header__container {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 19px;
  padding-left: 108px;
  padding-right: 104px;
}
@media screen and (max-width: 767px) {
  .header__container {
    display: none;
  }
}
.header__container .header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.header__container .header_nav .header_ul {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__container .header_nav .header_ul {
    background-color: #fff;
    background: rgba(255, 255, 255, 0.3);
  }
}
.header__container .header_nav .header_ul .header_li {
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #606060;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 14px;
  padding-right: 13px;
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .header__container .header_nav .header_ul .header_li {
    margin-bottom: 2.6666666667vw;
  }
}
.header__container .header_nav .header_botton {
  display: block;
  text-align: center;
}
.header__container .header_nav .header_botton .header_counseling {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #0097a7;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 18px;
}
.header .header-inner {
  display: none;
}
@media screen and (max-width: 767px) {
  .header .header-inner {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header .header-inner .header-inner_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .header .header-inner .header-inner_title img {
    width: 68vw;
  }
}
.header .header-inner .header-inner_title .hamburger-button {
  margin-top: 4px;
  cursor: pointer;
}
.header .header-inner .header-inner_title .hamburger-button i {
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .header .header-inner .hamburger_nav {
    display: none;
  }
}
.header .header-inner .hamburger_nav .hamburger_ul {
  margin-top: 4vw;
}
.header .header-inner .hamburger_nav .hamburger_ul li {
  margin-bottom: 5px;
}

.swiper {
  width: 100%;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 767px) {
  .swiper {
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .swiper .swiper-wrapper {
    display: none;
  }
}
.swiper .swiper-wrapper img {
  width: 100%;
  vertical-align: bottom;
}
.swiper__container_pc {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 70px;
  padding-left: 110px;
}
@media screen and (max-width: 767px) {
  .swiper__container_pc {
    position: inherit;
    width: 92vw;
    margin: 0 auto;
    padding-bottom: 0vw;
    padding-left: 0vw;
    margin-top: 2.9333333333vw;
    padding-bottom: 10.4vw;
  }
}
.swiper__container_pc .swiper_text {
  font-family: "Noto serif Jp", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .swiper__container_pc .swiper_text {
    display: none;
  }
}

.swiper_sp {
  width: 100%;
  background-size: cover;
  position: relative;
  display: none;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .swiper_sp {
    display: block;
    position: relative;
    top: 10px;
  }
}
.swiper_sp .swiper-wrapper img {
  width: 100%;
  vertical-align: bottom;
}
@media screen and (max-width: 767px) {
  .swiper_sp .swiper__container_sp {
    position: inherit;
    width: 92vw;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0vw;
    padding-left: 0vw;
    margin-top: 2.9333333333vw;
    padding-bottom: 10.6666666667vw;
  }
}
.swiper_sp .swiper__container_sp .swiper_text_sp {
  font-family: "Noto serif Jp", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .swiper_sp .swiper__container_sp .swiper_text_sp {
    font-size: 7.4666666667vw;
    margin-top: 4.2666666667vw;
    margin-bottom: 9.0666666667vw;
  }
}
.swiper_sp .swiper__container_sp .swiper_botton {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .swiper_sp .swiper__container_sp .swiper_botton {
    display: block;
    text-align: center;
  }
}
.swiper_sp .swiper__container_sp .swiper_botton .swiper_counseling {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #0097a7;
  border-radius: 15px;
  box-shadow: 9px 7px 0px 0px rgba(32, 32, 32, 0.31);
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 130px;
  padding-right: 122px;
}
@media screen and (max-width: 767px) {
  .swiper_sp .swiper__container_sp .swiper_botton .swiper_counseling {
    margin: 0 auto;
    font-size: 5.3333333333vw;
    box-shadow: 5px 5px 0px 0px rgba(32, 32, 32, 0.31);
    padding-top: 3.4666666667vw;
    padding-bottom: 3.7333333333vw;
    padding-left: 2.6666666667vw;
    padding-right: 2.6666666667vw;
  }
}

.appeal {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .appeal {
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 18.6666666667vw;
    padding-bottom: 14.6666666667vw;
  }
}
.appeal__container {
  max-width: 1045px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .appeal__container {
    max-width: 92vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
  }
}
.appeal__container--block {
  display: block;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
  text-align: center;
}
.appeal__container--block .circle {
  display: block;
  width: 160px;
  height: 160px;
  border: 3px solid #0097a7;
  border-radius: 50%;
  padding: 30px 0;
  margin-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .appeal__container--block .circle {
    width: 41.6vw;
    height: 41.6vw;
    margin-bottom: 2.6666666667vw;
  }
}
.appeal__container--block .circle .circle_text {
  font-family: "Noto Serif Jp", serif;
  font-weight: 700;
  font-size: 24px;
  color: #0097a7;
}
.appeal__container--block .circle span {
  font-family: "Noto Sans Jp", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #0097a7;
}
@media screen and (max-width: 767px) {
  .appeal__container--block .circle span {
    line-height: 56px;
  }
}
.appeal__container--block .text {
  font-family: "Noto Sans Jp", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .appeal__container--block .text {
    font-size: 5.3333333333vw;
    line-height: 1.75;
  }
}

.contact {
  background-color: #b5e9ee;
}
.contact__container {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .contact__container {
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 13.3333333333vw;
    padding-bottom: 18.1333333333vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
}
.contact__container h3 {
  font-family: "Noto Serif Jp", serif;
  font-size: 48px;
  font-weight: 700;
  color: #0097a7;
  text-align: center;
  margin-bottom: 42px;
}
@media screen and (max-width: 767px) {
  .contact__container h3 {
    font-size: 9.0666666667vw;
    line-height: 1.28125;
    text-align: center;
    margin-bottom: 13.3333333333vw;
  }
}
.contact__container h3 .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .contact__container h3 .pc_none {
    display: block;
  }
}
.contact__container--block .contact_ul {
  width: 420px;
  margin: 0 auto;
  margin-bottom: 78px;
}
@media screen and (max-width: 767px) {
  .contact__container--block .contact_ul {
    max-width: 92vw;
    padding-left: 6.6666666667vw;
    margin-bottom: 18.6666666667vw;
  }
}
.contact__container--block .contact_ul .contact_li {
  font-family: "Noto Sans Jp", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .contact__container--block .contact_ul .contact_li {
    font-size: 4.8vw;
    margin-bottom: 2.9333333333vw;
  }
}
.contact__container--block .contact_ul .contact_li i {
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 0px rgba(32, 32, 32, 0.3);
  margin-right: 19px;
}
@media screen and (max-width: 767px) {
  .contact__container--block .contact_ul .contact_li i {
    width: 5.3333333333vw;
    margin-right: 5.0666666667vw;
    text-shadow: 2px 2px 0px rgba(32, 32, 32, 0.3);
  }
}
.contact__container--block .contact_botton {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact__container--block .contact_botton {
    display: block;
    text-align: center;
  }
}
.contact__container--block .contact_botton .button_counseling {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #0097a7;
  border-radius: 15px;
  box-shadow: 9px 7px 0px 0px rgba(32, 32, 32, 0.31);
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 130px;
  padding-right: 122px;
}
@media screen and (max-width: 767px) {
  .contact__container--block .contact_botton .button_counseling {
    margin: 0 auto;
    font-size: 5.3333333333vw;
    box-shadow: 5px 5px 0px 0px rgba(32, 32, 32, 0.31);
    padding-top: 3.4666666667vw;
    padding-bottom: 3.7333333333vw;
    padding-left: 18.6666666667vw;
    padding-right: 18.1333333333vw;
  }
}
.contact__container--block .contact_botton .button_counseling i {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .contact__container--block .contact_botton .button_counseling i {
    margin-left: 5.8666666667vw;
  }
}

.contact_t {
  margin: 0 auto;
  background-color: #b5e9ee;
  padding-top: 46px;
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .contact_t {
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 11.7333333333vw;
    padding-bottom: 16vw;
  }
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t {
    padding-top: 0vw;
    padding-bottom: 0vw;
  }
}
.contact_t .contact__container_t h3 {
  font-family: "Noto Serif Jp", serif;
  font-size: 48px;
  font-weight: 700;
  color: #0097a7;
  text-align: center;
  margin-bottom: 42px;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t h3 {
    font-size: 9.0666666667vw;
    line-height: 1.28125;
    text-align: center;
    margin-bottom: 13.3333333333vw;
  }
}
.contact_t .contact__container_t h3 .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t h3 .pc_none {
    display: block;
  }
}
.contact_t .contact__container_t .contact_ul_t {
  width: 420px;
  margin: 0 auto;
  margin-bottom: 78px;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t .contact_ul_t {
    max-width: 92vw;
    padding-left: 6.6666666667vw;
    margin-bottom: 21.0666666667vw;
  }
}
.contact_t .contact__container_t .contact_ul_t .contact_li_t {
  font-family: "Noto Sans Jp", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t .contact_ul_t .contact_li_t {
    font-size: 4.8vw;
    margin-bottom: 5.3333333333vw;
  }
}
.contact_t .contact__container_t .contact_ul_t .contact_li_t i {
  margin-right: 19px;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t .contact_ul_t .contact_li_t i {
    margin-right: 5.6vw;
  }
}
.contact_t .contact__container_t .contact_botton_t {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t .contact_botton_t {
    display: block;
    text-align: center;
  }
}
.contact_t .contact__container_t .contact_botton_t .button_counseling {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #0097a7;
  border-radius: 15px;
  box-shadow: 9px 7px 0px 0px rgba(32, 32, 32, 0.31);
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 130px;
  padding-right: 122px;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t .contact_botton_t .button_counseling {
    margin: 0 auto;
    font-size: 5.3333333333vw;
    box-shadow: 5px 5px 0px 0px rgba(32, 32, 32, 0.31);
    padding-top: 3.4666666667vw;
    padding-bottom: 3.7333333333vw;
    padding-left: 18.6666666667vw;
    padding-right: 18.1333333333vw;
  }
}
.contact_t .contact__container_t .contact_botton_t .button_counseling i {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .contact_t .contact__container_t .contact_botton_t .button_counseling i {
    margin-left: 5.8666666667vw;
  }
}

#contact_r {
  margin: 0 auto;
  background-color: #b5e9ee;
  padding-top: 45px;
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  #contact_r {
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 11.7333333333vw;
    padding-bottom: 16vw;
  }
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r {
    padding-top: 0vw;
    padding-bottom: 0vw;
  }
}
#contact_r .contact__container_r h3 {
  font-family: "Noto Serif Jp", serif;
  font-size: 48px;
  font-weight: 700;
  color: #0097a7;
  text-align: center;
  margin-bottom: 42px;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r h3 {
    font-size: 9.0666666667vw;
    line-height: 1.28125;
    text-align: center;
    margin-bottom: 13.3333333333vw;
  }
}
#contact_r .contact__container_r h3 .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r h3 .pc_none {
    display: block;
  }
}
#contact_r .contact__container_r .r_h3 {
  font-family: "Noto Serif Jp", serif;
  font-size: 48px;
  font-weight: 700;
  color: #0097a7;
  margin-bottom: 42px;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .r_h3 {
    font-size: 9.0666666667vw;
    line-height: 42px;
    text-align: center;
    margin-bottom: 13.8666666667vw;
  }
}
#contact_r .contact__container_r .r_h3 .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .r_h3 .pc_none {
    display: block;
  }
}
#contact_r .contact__container_r .contact_ul_r {
  width: 420px;
  margin: 0 auto;
  margin-bottom: 78px;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .contact_ul_r {
    max-width: 92vw;
    padding-left: 6.6666666667vw;
    margin-bottom: 21.0666666667vw;
  }
}
#contact_r .contact__container_r .contact_ul_r .contact_li_r {
  font-family: "Noto Sans Jp", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .contact_ul_r .contact_li_r {
    font-size: 4.8vw;
    margin-bottom: 5.3333333333vw;
  }
}
#contact_r .contact__container_r .contact_ul_r .contact_li_r i {
  margin-right: 19px;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .contact_ul_r .contact_li_r i {
    margin-right: 5.6vw;
  }
}
#contact_r .contact__container_r .contact_botton_r {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .contact_botton_r {
    display: block;
    text-align: center;
  }
}
#contact_r .contact__container_r .contact_botton_r .button_counseling {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #0097a7;
  border-radius: 15px;
  box-shadow: 9px 7px 0px 0px rgba(32, 32, 32, 0.31);
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 130px;
  padding-right: 122px;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .contact_botton_r .button_counseling {
    margin: 0 auto;
    font-size: 5.3333333333vw;
    box-shadow: 5px 5px 0px 0px rgba(32, 32, 32, 0.31);
    padding-top: 3.4666666667vw;
    padding-bottom: 3.7333333333vw;
    padding-left: 18.6666666667vw;
    padding-right: 18.1333333333vw;
  }
}
#contact_r .contact__container_r .contact_botton_r .button_counseling i {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  #contact_r .contact__container_r .contact_botton_r .button_counseling i {
    margin-left: 5.8666666667vw;
  }
}

.feature {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .feature {
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 13.3333333333vw;
    padding-bottom: 16vw;
  }
}
@media screen and (max-width: 767px) {
  .feature__container {
    padding-left: 3.7333333333vw;
    padding-right: 3.7333333333vw;
  }
}
.feature__container .feature_title {
  font-family: "Noto Serif Jp";
  font-weight: 700;
  font-size: 48px;
  color: #0097a7;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .feature__container .feature_title {
    font-size: 9.0666666667vw;
  }
}
.feature__container--block {
  margin-top: 30px;
  margin-bottom: 38px;
}
@media screen and (max-width: 767px) {
  .feature__container--block {
    margin-top: 8vw;
    margin-bottom: 9.6vw;
  }
}
.feature__container--block .block_title {
  font-family: "Noto Serif Jp";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.55;
  color: #606060;
  text-align: center;
  margin-bottom: 29px;
}
@media screen and (max-width: 767px) {
  .feature__container--block .block_title {
    font-size: 8.5333333333vw;
    margin-bottom: 9.0666666667vw;
    line-height: 1.35;
  }
}
.feature__container--block .block_title .block_text {
  font-family: "Noto Serif Jp";
  font-size: 48px;
}
@media screen and (max-width: 767px) {
  .feature__container--block .block_title .block_text {
    line-height: 1.7;
  }
}
.feature__container--block .block_title .block_liner {
  display: inline-block;
  background-color: #b5e9ee;
  line-height: 35px;
  vertical-align: baseline;
}
.feature__container--block .block_title .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .feature__container--block .block_title .pc_none {
    display: block;
  }
}
.feature__container--block .block_box {
  max-width: 950px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .feature__container--block .block_box {
    margin-top: 7.2vw;
  }
}
.feature__container--block .block_box .dl_title {
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  background-color: #0097a7;
  padding-top: 4px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (max-width: 767px) {
  .feature__container--block .block_box .dl_title {
    font-size: 4.8vw;
    padding-top: 1.6vw;
    padding-bottom: 4.8vw;
  }
}
.feature__container--block .block_box dl {
  display: flex;
  margin-bottom: 10px;
}
.feature__container--block .block_box dl dt {
  background-color: #dddddd;
  width: 274px;
  font-family: "Noto Sans Jp";
  font-size: 24px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .feature__container--block .block_box dl dt {
    width: 26.6666666667vw;
    font-size: 3.2vw;
    padding-top: 11.7333333333vw;
    padding-bottom: 0vw;
    padding-left: 2.1333333333vw;
    padding-right: 2.1333333333vw;
  }
}
.feature__container--block .block_box dl dt.dt_radius {
  border-bottom-left-radius: 15px;
}
.feature__container--block .block_box dl dd {
  background-color: #eeeeee;
  width: 666px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 29px;
  font-family: "Noto Sans Jp";
  line-height: 1.7;
}
@media screen and (max-width: 767px) {
  .feature__container--block .block_box dl dd {
    font-size: 3.2vw;
    width: 62.6666666667vw;
    padding-top: 2.9333333333vw;
    padding-bottom: 3.4666666667vw;
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
.feature__container--block .block_box dl dd.dd_radius {
  border-bottom-right-radius: 15px;
}
@media screen and (max-width: 767px) {
  .feature__container--money {
    margin-bottom: 7.7333333333vw;
  }
}
.feature__container--money .block_title {
  font-family: "Noto Serif Jp";
  font-weight: 400;
  font-size: 36px;
  color: #606060;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .feature__container--money .block_title {
    font-size: 8.5333333333vw;
    margin-bottom: 10.1333333333vw;
    line-height: 1.35;
  }
}
.feature__container--money .block_title .block_text {
  font-family: "Noto Serif Jp";
  font-size: 48px;
}
@media screen and (max-width: 767px) {
  .feature__container--money .block_title .block_text {
    line-height: 1.75;
  }
}
.feature__container--money .block_title .block_liner {
  display: inline-block;
  font-family: "Noto Serif Jp";
  background-color: #b5e9ee;
  vertical-align: baseline;
  line-height: 35px;
}
.feature__container--money .block_title .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .feature__container--money .block_title .pc_none {
    display: block;
  }
}
.feature__container--money .money_block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 90px;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block {
    display: block;
    margin-top: 8vw;
  }
}
.feature__container--money .money_block .money_box_r {
  display: block;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_r {
    margin-bottom: 15.2vw;
  }
}
.feature__container--money .money_block .money_box_r .money_title {
  width: 430px;
  font-family: "Noto Sans Jp";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #0097a7;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_r .money_title {
    width: 92.2666666667vw;
    margin-bottom: 10.6666666667vw;
    padding-bottom: 0.8vw;
  }
}
.feature__container--money .money_block .money_box_r .money_text {
  font-family: "Noto Serif Jp";
  font-size: 80px;
  font-weight: 700;
  color: #0097a7;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_r .money_text {
    font-size: 16vw;
  }
}
.feature__container--money .money_block .money_box_r .money_text span {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_r .money_text span {
    font-size: 6.4vw;
  }
}
.feature__container--money .money_block .money_box_l {
  display: block;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_l {
    margin-bottom: 4vw;
  }
}
.feature__container--money .money_block .money_box_l .money_title {
  width: 430px;
  font-family: "Noto Sans Jp";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #0097a7;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_l .money_title {
    width: 92.2666666667vw;
    margin-bottom: 10.6666666667vw;
  }
}
.feature__container--money .money_block .money_box_l .money_text {
  font-family: "Noto Serif Jp";
  font-size: 80px;
  font-weight: 700;
  color: #0097a7;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_l .money_text {
    font-size: 16vw;
  }
}
.feature__container--money .money_block .money_box_l .money_text span {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_block .money_box_l .money_text span {
    font-size: 6.4vw;
  }
}
.feature__container--money .money_point {
  font-family: "Noto Sans Jp";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .feature__container--money .money_point {
    font-size: 3.2vw;
  }
}
.feature__container--service {
  margin-top: 35px;
}
@media screen and (max-width: 767px) {
  .feature__container--service {
    margin-top: 0vw;
  }
}
.feature__container--service .block_title {
  font-family: "Noto Serif Jp";
  font-weight: 400;
  font-size: 36px;
  color: #606060;
  text-align: center;
  line-height: 1.55;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .feature__container--service .block_title {
    font-size: 8.5333333333vw;
    margin-bottom: 9.6vw;
    line-height: 1.3;
    padding-right: 1.6vw;
  }
}
.feature__container--service .block_title .block_text {
  font-family: "Noto Serif Jp";
  font-size: 48px;
}
@media screen and (max-width: 767px) {
  .feature__container--service .block_title .block_text {
    line-height: 1.8;
  }
}
.feature__container--service .block_title .block_liner {
  display: inline-block;
  background-color: #b5e9ee;
  line-height: 35px;
  vertical-align: baseline;
}
@media screen and (max-width: 767px) {
  .feature__container--service .block_title .block_liner {
    line-height: 32px;
  }
}
.feature__container--service .block_title .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .feature__container--service .block_title .pc_none {
    display: block;
  }
}
.feature__container--service .service_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .feature__container--service .service_block {
    display: block;
  }
}
.feature__container--service .service_block .service_box_r {
  display: block;
}
@media screen and (max-width: 767px) {
  .feature__container--service .service_block .service_box_r {
    margin-bottom: 7.2vw;
  }
}
.feature__container--service .service_block .service_box_r .service_img_r {
  width: 460px;
  box-sizing: border-box;
  margin-bottom: 7px;
}
@media screen and (max-width: 767px) {
  .feature__container--service .service_block .service_box_r .service_img_r {
    width: 92.5333333333vw;
    margin-bottom: 2.6666666667vw;
  }
}
.feature__container--service .service_block .service_box_r .service_text_r {
  width: 403px;
  margin: 0 auto;
  font-family: "Noto Sans Jp";
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .feature__container--service .service_block .service_box_r .service_text_r {
    width: 81.8666666667vw;
    font-size: 3.2vw;
    line-height: 1.6;
  }
}
.feature__container--service .service_block .service_box_l {
  display: block;
}
@media screen and (max-width: 767px) {
  .feature__container--service .service_block .service_box_l {
    margin-bottom: 8vw;
  }
}
.feature__container--service .service_block .service_box_l .service_img_l {
  width: 460px;
  box-sizing: border-box;
  margin-bottom: 7px;
}
@media screen and (max-width: 767px) {
  .feature__container--service .service_block .service_box_l .service_img_l {
    width: 92.5333333333vw;
    margin-bottom: 2.6666666667vw;
  }
}
.feature__container--service .service_block .service_box_l .service_text_l {
  width: 405px;
  margin: 0 auto;
  font-family: "Noto Sans Jp";
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .feature__container--service .service_block .service_box_l .service_text_l {
    width: 85.3333333333vw;
    font-size: 3.2vw;
    padding-left: 1.8666666667vw;
    line-height: 1.6;
  }
}
.feature__container #feature__container--map {
  margin-top: 31px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map {
    margin-top: 8.5333333333vw;
  }
}
.feature__container #feature__container--map .block_title {
  font-family: "Noto Serif Jp";
  font-weight: 400;
  font-size: 36px;
  color: #606060;
  text-align: center;
  line-height: 1.55;
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .block_title {
    font-size: 8.5333333333vw;
    margin-bottom: 8.2666666667vw;
    line-height: 1.4;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .feature__container #feature__container--map .block_title {
    line-height: 1.3;
  }
}
.feature__container #feature__container--map .block_title .block_text {
  font-family: "Noto Serif Jp";
  font-weight: 400;
  font-size: 48px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .block_title .block_text {
    line-height: 1.75;
  }
}
.feature__container #feature__container--map .block_title .block_liner {
  display: inline-block;
  font-family: "Noto Serif Jp";
  background-color: #b5e9ee;
  line-height: 35px;
  vertical-align: baseline;
}
.feature__container #feature__container--map .block_title .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .block_title .pc_none {
    display: block;
  }
}
.feature__container #feature__container--map .map_block .map {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .map_block .map {
    width: 92vw;
    height: 67.4666666667vw;
  }
}
.feature__container #feature__container--map .map_block .map_p {
  font-family: "Noto Sans Jp";
  text-align: center;
  margin-top: 20px;
  margin-left: 7px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .map_block .map_p {
    font-size: 3.2vw;
    margin-top: 5.8666666667vw;
    margin-left: 2.6666666667vw;
    line-height: 1.7;
  }
}
.feature__container #feature__container--map .map_block .map_p .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .map_block .map_p .pc_none {
    display: block;
  }
}
.feature__container #feature__container--map .map_block .map_access {
  font-family: "Noto Sans Jp";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
  margin-left: 30px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .map_block .map_access {
    font-size: 4.8vw;
    margin-left: 0vw;
    margin-top: 4.5333333333vw;
    line-height: 1.7;
  }
}
.feature__container #feature__container--map .map_block .map_access .pc_none {
  display: none;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .map_block .map_access .pc_none {
    display: block;
  }
}
.feature__container #feature__container--map .schedule {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule {
    margin-top: 6.4vw;
  }
}
.feature__container #feature__container--map .schedule tr {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule tr {
    padding-left: 0vw;
    padding-right: 0vw;
  }
}
.feature__container #feature__container--map .schedule tr th {
  width: 98px;
  font-family: "Noto Sans Jp";
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  border: 1px solid #0097a7;
  background-color: #0097a7;
  padding-bottom: 3px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule tr th {
    width: 0vw;
    font-size: 3.2vw;
    padding-left: 3.2vw;
    padding-right: 2.9333333333vw;
    padding-bottom: 0vw;
  }
}
.feature__container #feature__container--map .schedule tr th.left {
  width: 180px;
  padding-left: 85px;
  padding-right: 0px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule tr th.left {
    width: 20vw;
    padding-left: 0vw;
    padding-right: 0vw;
  }
}
.feature__container #feature__container--map .schedule tr th.right {
  width: 180px;
  padding-left: 0px;
  padding-right: 85px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule tr th.right {
    width: 20vw;
    padding-left: 0vw;
    padding-right: 6.6666666667vw;
  }
}
.feature__container #feature__container--map .schedule tr td {
  font-family: "Noto Sans Jp";
  font-size: 24px;
  font-weight: 400;
  color: #000;
  border-bottom: 1px solid;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule tr td {
    font-size: 3.2vw;
    padding-top: 0.2666666667vw;
    padding-bottom: 0.8vw;
  }
}
.feature__container #feature__container--map .schedule tr td.left {
  width: 180px;
  padding-left: 77px;
  padding-right: 0px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule tr td.left {
    width: 20vw;
    padding-left: 6.4vw;
    padding-right: 0vw;
  }
}
.feature__container #feature__container--map .schedule tr td.right {
  width: 180px;
  padding-left: 0px;
  padding-right: 80px;
}
@media screen and (max-width: 767px) {
  .feature__container #feature__container--map .schedule tr td.right {
    width: 20vw;
    padding-left: 0vw;
    padding-right: 6.6666666667vw;
  }
}

.question {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 43px;
}
@media screen and (max-width: 767px) {
  .question {
    max-width: 100vw;
    padding-top: 12.2666666667vw;
    padding-bottom: 14.1333333333vw;
  }
}
.question__container .question_title {
  font-family: "Noto Serif Jp";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #0097a7;
  margin-bottom: 41px;
}
@media screen and (max-width: 767px) {
  .question__container .question_title {
    font-size: 9.0666666667vw;
    margin-bottom: 11.7333333333vw;
  }
}
.question__container dl dt {
  width: 950px;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #0097a7;
  box-sizing: border-box;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0097a7;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .question__container dl dt {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 12vw;
    padding-top: 1.8666666667vw;
    padding-bottom: 1.8666666667vw;
    border-bottom: 2px solid #0097a7;
  }
}
.question__container dl dt::before {
  content: "Q.";
  display: inline-block;
  text-indent: -37px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .question__container dl dt::before {
    text-indent: -9.3333333333vw;
  }
}
.question__container dl dt.open {
  display: block;
}
.question__container dl dt.open::after {
  content: "ー";
}
.question__container dl dt::after {
  content: "＋";
  position: absolute;
  transform: translateY(40%);
  top: 0;
  right: 0px;
  width: 36px;
  background-color: #0097a7;
  color: #fff;
  height: 36px;
  text-align: center;
  padding-top: 4px;
  margin-top: 3px;
}
@media screen and (max-width: 767px) {
  .question__container dl dt::after {
    padding-top: 1.0666666667vw;
    margin-top: 6.1333333333vw;
    line-height: 7.2vw;
    transform: translateY(0%);
  }
}
.question__container dl dd {
  width: 950px;
  margin: 0 auto;
  display: none;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding-top: 12px;
  padding-left: 35px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .question__container dl dd {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 0vw;
    padding-top: 1.6vw;
    line-height: 26px;
  }
}
.question__container dl dd .sp_none {
  display: block;
}
@media screen and (max-width: 767px) {
  .question__container dl dd .sp_none {
    display: none;
  }
}
.question__container dl dd::before {
  content: "A.";
  display: inline-block;
  text-indent: -35px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
  color: #0097a7;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .question__container dl dd::before {
    padding-top: 1.0666666667vw;
  }
}
.question__container .dl_b dt {
  width: 950px;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #0097a7;
  box-sizing: border-box;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0097a7;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .question__container .dl_b dt {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 12vw;
    padding-top: 1.8666666667vw;
    padding-bottom: 1.6vw;
    border-bottom: 2px solid #0097a7;
  }
}
.question__container .dl_b dt::before {
  content: "Q.";
  display: inline-block;
  text-indent: -37px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .question__container .dl_b dt::before {
    text-indent: -9.3333333333vw;
  }
}
.question__container .dl_b dt.open {
  display: block;
}
.question__container .dl_b dt.open::after {
  content: "ー";
}
.question__container .dl_b dt::after {
  content: "＋";
  position: absolute;
  transform: translateY(40%);
  top: 0;
  right: 0px;
  width: 36px;
  background-color: #0097a7;
  color: #fff;
  height: 36px;
  text-align: center;
  padding-top: 4px;
  margin-top: 0px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_b dt::after {
    padding-top: 1.0666666667vw;
    margin-top: 5.0666666667vw;
    line-height: 7.2vw;
    transform: translateY(0%);
  }
}
.question__container .dl_b dd {
  width: 950px;
  margin: 0 auto;
  display: none;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding-top: 11px;
  padding-left: 35px;
  margin-bottom: 12px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .question__container .dl_b dd {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 0vw;
    padding-top: 2.1333333333vw;
    line-height: 25px;
  }
}
.question__container .dl_b dd .sp_none {
  display: block;
}
@media screen and (max-width: 767px) {
  .question__container .dl_b dd .sp_none {
    display: none;
  }
}
.question__container .dl_b dd::before {
  content: "A.";
  display: inline-block;
  text-indent: -35px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
  color: #0097a7;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_b dd::before {
    padding-top: 1.0666666667vw;
  }
}
@media screen and (max-width: 767px) {
  .question__container .dl_c {
    margin-top: 3.2vw;
    padding-bottom: 2.9333333333vw;
  }
}
.question__container .dl_c dt {
  width: 950px;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #0097a7;
  box-sizing: border-box;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0097a7;
  padding-top: 0px;
  padding-bottom: 13px;
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .question__container .dl_c dt {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 12vw;
    padding-top: 1.8666666667vw;
    padding-bottom: 4.2666666667vw;
    border-bottom: 2px solid #0097a7;
  }
}
.question__container .dl_c dt::before {
  content: "Q.";
  display: inline-block;
  text-indent: -37px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .question__container .dl_c dt::before {
    text-indent: -9.3333333333vw;
  }
}
.question__container .dl_c dt.open {
  display: block;
}
.question__container .dl_c dt.open::after {
  content: "ー";
}
.question__container .dl_c dt::after {
  content: "＋";
  position: absolute;
  transform: translateY(40%);
  top: 0;
  right: 0px;
  width: 36px;
  background-color: #0097a7;
  color: #fff;
  height: 36px;
  text-align: center;
  padding-top: 4px;
  margin-top: -12px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_c dt::after {
    padding-top: 1.0666666667vw;
    margin-top: 0.8vw;
    line-height: 7.2vw;
    transform: translateY(0%);
  }
}
.question__container .dl_c dd {
  width: 950px;
  margin: 0 auto;
  display: none;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  padding-top: 11px;
  padding-left: 35px;
  margin-bottom: 9px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .question__container .dl_c dd {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 0vw;
    padding-top: 1.8666666667vw;
    line-height: 27px;
  }
}
.question__container .dl_c dd .sp_none {
  display: block;
}
@media screen and (max-width: 767px) {
  .question__container .dl_c dd .sp_none {
    display: none;
  }
}
.question__container .dl_c dd::before {
  content: "A.";
  display: inline-block;
  text-indent: -35px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
  color: #0097a7;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_c dd::before {
    padding-top: 1.0666666667vw;
  }
}
@media screen and (max-width: 767px) {
  .question__container .dl_d {
    margin-bottom: 2.4vw;
  }
}
.question__container .dl_d dt {
  width: 950px;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #0097a7;
  box-sizing: border-box;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0097a7;
  padding-top: 0px;
  padding-bottom: 13px;
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .question__container .dl_d dt {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    line-height: 27px;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 12vw;
    padding-top: 1.8666666667vw;
    padding-bottom: 4.2666666667vw;
    border-bottom: 2px solid #0097a7;
  }
}
.question__container .dl_d dt::before {
  content: "Q.";
  display: inline-block;
  text-indent: -37px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .question__container .dl_d dt::before {
    text-indent: -9.3333333333vw;
  }
}
.question__container .dl_d dt.open {
  display: block;
}
.question__container .dl_d dt.open::after {
  content: "ー";
}
.question__container .dl_d dt::after {
  content: "＋";
  position: absolute;
  transform: translateY(40%);
  top: 0;
  right: 0px;
  width: 36px;
  background-color: #0097a7;
  color: #fff;
  height: 36px;
  text-align: center;
  padding-top: 4px;
  margin-top: -11px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_d dt::after {
    padding-top: 1.0666666667vw;
    margin-top: 1.3333333333vw;
    line-height: 7.2vw;
    transform: translateY(0%);
  }
}
.question__container .dl_d dd {
  width: 950px;
  margin: 0 auto;
  display: none;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  padding-top: 12px;
  padding-left: 35px;
  margin-bottom: 0px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .question__container .dl_d dd {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 0vw;
    padding-top: 1.6vw;
    line-height: 27px;
  }
}
.question__container .dl_d dd .sp_none {
  display: block;
}
@media screen and (max-width: 767px) {
  .question__container .dl_d dd .sp_none {
    display: none;
  }
}
.question__container .dl_d dd::before {
  content: "A.";
  display: inline-block;
  text-indent: -35px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
  color: #0097a7;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_d dd::before {
    padding-top: 1.0666666667vw;
  }
}
@media screen and (max-width: 767px) {
  .question__container .dl_e {
    margin-bottom: 0.8vw;
  }
}
.question__container .dl_e dt {
  width: 950px;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #0097a7;
  box-sizing: border-box;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0097a7;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .question__container .dl_e dt {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    line-height: 27px;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 12vw;
    padding-top: 0.2666666667vw;
    padding-bottom: 1.3333333333vw;
    border-bottom: 2px solid #0097a7;
  }
}
.question__container .dl_e dt::before {
  content: "Q.";
  display: inline-block;
  text-indent: -37px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .question__container .dl_e dt::before {
    text-indent: -9.3333333333vw;
  }
}
.question__container .dl_e dt.open {
  display: block;
}
.question__container .dl_e dt.open::after {
  content: "ー";
}
.question__container .dl_e dt::after {
  content: "＋";
  position: absolute;
  transform: translateY(40%);
  top: 0;
  right: 0px;
  width: 36px;
  background-color: #0097a7;
  color: #fff;
  height: 36px;
  text-align: center;
  padding-top: 4px;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_e dt::after {
    padding-top: 1.0666666667vw;
    margin-top: 3.4666666667vw;
    line-height: 7.2vw;
    transform: translateY(0%);
  }
}
.question__container .dl_e dd {
  width: 950px;
  margin: 0 auto;
  display: none;
  font-family: "Noto Sans Jp";
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  padding-top: 12px;
  padding-left: 35px;
  margin-bottom: 12px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .question__container .dl_e dd {
    width: 92vw;
    margin: 0 auto;
    font-size: 4.2666666667vw;
    vertical-align: middle;
    padding-left: 9.0666666667vw;
    padding-right: 0vw;
    padding-top: 1.6vw;
    line-height: 27px;
  }
}
.question__container .dl_e dd .sp_none {
  display: block;
}
@media screen and (max-width: 767px) {
  .question__container .dl_e dd .sp_none {
    display: none;
  }
}
.question__container .dl_e dd::before {
  content: "A.";
  display: inline-block;
  text-indent: -35px;
  font-family: "Noto Serif Jp";
  font-size: 24px;
  font-weight: 700;
  color: #0097a7;
  margin-top: -3px;
}
@media screen and (max-width: 767px) {
  .question__container .dl_e dd::before {
    padding-top: 1.0666666667vw;
  }
}

.footer {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .footer {
    max-width: 100vw;
    margin: 0 auto;
  }
}
.footer img {
  width: 447px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer img {
    width: 91.2vw;
  }
}
.footer small {
  display: block;
  font-family: "Noto Sans Jp";
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .footer small {
    font-size: 2.9333333333vw;
  }
}/*# sourceMappingURL=style.css.map */
